@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Fade-In Animation */
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(15px); /* Starts slightly lower down */
  }
  to { 
    opacity: 1; 
    transform: translateY(0); /* Slides up into its normal position */
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}